* {
box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
 	color: black;
	color: rgb(255, 196, 0);
}
.col{
	margin: 0 auto;
}
.tic_wraper{
	width: 300px;
	height: 300px;
  margin: 60px auto 0;
}
.box{
	width: 100px;
	height: 100px;
	border-right:1px solid red;
	border-bottom: 1px solid red;
	float: left;
	font-size: 50px;
	text-align: center;
  float: left;
}
.box:hover {
  border-color: red;
}
.box:last-child{
	border-right: none;
}
.row:last-child .box {
	border-bottom: none;
}
.ai{
  position: relative;
}
.ai:before {
  color: rgb(255, 196, 0);
  content:"+";
  display:block;
  width:90px;
  height:90px;
  line-height: 100px;
  font-size:100px;
  padding-left: 5px;
}
.container {
  margin: 50px auto;
  width: 300px;
  display: block;
  float: none;
}
.human:before {
  color: rgb(255, 196, 0);
  content:"X";
  display:block;
  width:90px;
  height:90px;
  line-height: 100px;
  font-size:100px;
  padding-left: 5px;
}
.mes_box{
	position: relative;
}
#overlay{
  width: 300px;
  height: 300px;
  z-index: 100;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.1);
  display: none;
}
#line{
	width: 0;
  height: 0;
  background-color: red;
  display: block;
  z-index: 200;
  color: red;
}
#line.line_1{
	width: 100%;
  height: 10px;
	margin-top: 44px;
}
#line.line_2{
	width: 100%;
  height: 10px;
	margin-top: 144px;
}
#line.line_3{
	width: 100%;
  height: 10px;
	margin-top: 244px;
}
#line.line_4{
	width: 10px;
  height: 100%;
	margin-left: 44px;
}
#line.line_5{
	width: 10px;
  height: 100%;
	margin-left: 144px;
}
#line.line_6{
	width: 10px;
  height: 100%;
	margin-left: 244px;
}
#line.line_7{
width: 400px;
height: 8px;
transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
margin-top: 144px;
margin-left: -51px;
}
#line.line_8{
	width: 400px;
	height: 8px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	margin-top: 144px;
	margin-left: -51px;
}

#overlay.vis{
  display:block;
}
.end_massege{
  float:none;
	color: red;
  font-size:24px;
  text-align: center;
  width: 300px;
  display: none;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	height: 30px;
	position: absolute;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.end_massege.vis{
  display:block;
}
#start_button{
	 	text-align: center;
    border: 1px solid rgb(255, 196, 0);
    cursor: pointer;
    background-color: rgb(255, 196, 0);
    color: #ffffff;
    width: 190px;
    margin: 30px auto;
    display: block;
    padding: 5px;
		font-size: 20px;
}
#start_button:hover, #start_button:focus,
#start_button:active{
	  border: 1px solid rgb(255, 196, 0);
    background-color: #ffffff;
    color: rgb(255, 196, 0);;
}
